{% if use_tailwind -%}
@import "tailwindcss";
{% endif -%}
@import "./tokens.css";

:root {
  color-scheme: light;
  font-family: var(--font-body);
}

* {
  box-sizing: border-box;
}

body {
  margin: var(--spacing-none);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}
